<!DOCTYPE html>
<html lang="en">
<head>
<meta name="_csrf" content="${_csrf.token}"/>
	<!-- default header name is X-CSRF-TOKEN -->
	<meta name="_csrf_header" content="${_csrf.headerName}"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Forgot my password Demo</title>
    
    <!--CSS Defenitions  -->
    <link href="resources/css/blog-home.css" rel="stylesheet">
    <link href="resources/css/bootstrap.css" rel="stylesheet">
    <link href="resources/css/bootstrap.min.css" rel="stylesheet">
    <link href="resources/css/common.css" rel="stylesheet">
    <link href="resources/css/form.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!--JS Defenitions  -->
	<script src="resources/js/angular.min.js"></script>
	<script src="resources/js/bootstrap.min.js"></script>
	<script src="resources/js/app.js"></script>
	<script src="resources/js/ui-bootstrap-1.1.0.min.js"></script>
</head>
<body>

<div data-ng-app="resetPasswordApp" data-ng-controller="resetPasswordAppController">
		
<h1>Reset Password</h1>

<form>
  New password:<br>
  <input type="text" name="newPassword" ng-model="newPassword" placeholder="New password here">
  <br><br>
  <input type="submit" value="Submit" data-ng-click="updateMyPassword()">
  <p>{{updatePasswordMessage}}</p>
</form> 
  
</div>
</body>
</html>